<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManageWalla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ManageWalla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ManageWalla.Properties.Settings>
            <setting name="WallaWSHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WallaAppKey" serializeAs="String">
                <value>1234567890</value>
            </setting>
        </ManageWalla.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ManageWalla.Properties.Settings>
            <setting name="WallaWSPath" serializeAs="String">
                <value>/WallaHub/v1/ws/</value>
            </setting>
            <setting name="WallaWebPath" serializeAs="String">
              <value>/WallaHub/v1/web/</value>
            </setting>
            <setting name="WallaWSPort" serializeAs="String">
                <value>8081</value>
            </setting>
        </ManageWalla.Properties.Settings>
    </userSettings>
</configuration>